<div class=" mb-4 project" id="blogbox">
    <div>
        <img src="/public/assets/adoption_process.png" alt="Adoption Process">
    </div>
    <section class="section ">
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">At ForeverPaws</b>, we're delighted that you're considering opening your heart and home to a loving dog or cat companion. Our adoption process is designed to ensure the well-being and happiness of both the animals in our care and their future adoptive families. Please take a moment to familiarize yourself with the steps involved, as it helps us create successful matches and lasting bonds.
            .
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Explore Available Pets - </b>
            Browse through our gallery of adorable dogs and cats awaiting their forever homes. Each profile includes valuable information about their personality, age, and any special needs or requirements they may have. Take your time to find the pet that best aligns with your lifestyle, preferences, and the type of companionship you seek.

        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Submit an Application - </b>
            Once you've found a potential match, complete our adoption application form. We'll ask for essential details about your living situation, previous pet experience, and your expectations as a responsible pet owner. This information assists us in ensuring a suitable and safe environment for our animals.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Application Review - </b>
            Our dedicated adoption team carefully reviews your application, assessing it based on various factors such as compatibility, readiness, and the specific needs of the pet you're interested in. We aim to provide a thorough and timely response to all applications, usually within a few business days.

        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Adoption Fee and Agreement - </b>
            Upon a successful meet-and-greet and home visit, we'll proceed with the adoption fee payment and signing of the adoption agreement. The adoption fee contributes to the care, medical needs, and support provided to our animals. The adoption agreement outlines the responsibilities and expectations of both parties involved in the adoption.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Bringing Your New Companion Home - </b>
            Congratulations! With the adoption process complete, you can now welcome your new furry friend into your loving home. We provide guidance and resources to help ease the transition, including tips for acclimation, training, and ongoing care. Our commitment to supporting you and your new companion continues long after the adoption.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            Remember, adopting a pet is a lifelong commitment, and we're here to assist you every step of the way. If you have any questions or require further assistance, please don't hesitate to reach out to our adoption team. Thank you for considering adoption and providing a second chance to a deserving dog or cat in need of a forever home.
        </p>
    </section>
</div>