        <div class=" mb-4 project" id="blogbox">
            <div>
                <img src="assets/adoption_process.png" alt="Pet Adoption Form">
            </div>
            <section class="section ">

                <P>Thank you for your interest in adopting a pet from our adoption portal. Please complete the following application form to help us ensure a suitable match between our available pets and potential adopters. All fields marked with an asterisk (*) are required</P>
                <div class="container card formbgc p-6">
                    <div class="columns is-multiline">

                        <div class="column is-one-third">
                            <label class="label ">Full Name:</label>
                            <div class="control">
                            <input type="text">
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <label class="label ">Email Address:</label>
                            <div class="control">
                            <input type="text">
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <label class="label ">Phone:</label>
                            <div class="control">
                            <input type="text">
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <label class="label ">City:</label>
                            <div class="control">
                            <input type="text">
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <label class="label ">Street Adress:</label>
                            <div class="control">
                            <input type="text">
                            </div>
                        </div>

                        <div class="column is-one-third">
                            <label class="label ">Aditional Info:</label>
                            <div class="control">
                            <input type="text">
                            </div>
                        </div>

                    </div>
                    <div class="field is-grouped is-justify-content-center">
                        <div class="control">
                            <button class="button custom-box-sl" id="adoptBtn">
                                <img src="assets/search_icon.png" alt="Search Icon" class="search-icon">
                                <span class="search-text">Adopt</span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="/js/adoptPet.js"></script>