<div class=" mb-4 project" id="blogbox">
    <div>
        <img src="/public/assets/pet_ally.png" alt="pet ally">
    </div>
    <section class="section ">
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Join Us in Making a Difference!</b> You can play an active role in supporting our pet adoption portal and making a positive impact on the lives of dogs and cats in need. By becoming a Pet Ally, you can help us connect more pets with loving forever homes and contribute to their well-being. Together, we can make a difference!
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-centered" >
            <b class="is-size-4 is-size-5-mobile">How You Can Help </b>
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-4 is-size-5-mobile">1. Spread the Word -</b>
            One of the simplest yet most powerful ways to support our pet adoption portal is by spreading the word. Share our website and adoption profiles with your friends, family, and social media followers. By raising awareness about the pets in our care, you increase their chances of finding loving homes. Every share counts!
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-4 is-size-5-mobile">2. Volunteer Your Time -</b>
            Consider becoming a volunteer at our adoption center or participating in virtual volunteering opportunities. Help with tasks such as walking dogs, socializing cats, assisting with adoption events, or providing administrative support. Your time and dedication can make a significant impact on the lives of our furry friends.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-4 is-size-5-mobile">3. Foster a Pet -</b>
            Fostering a pet is a rewarding experience that provides temporary care and a loving environment for animals awaiting adoption. By opening your home to a foster pet, you play a crucial role in preparing them for their forever homes. Fostering not only saves lives but also frees up space in our adoption center to rescue more animals in need.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-4 is-size-5-mobile">4. Donate -</b>
            Financial contributions are vital to supporting our pet adoption portal and the care of our animals. Your donation helps cover veterinary expenses, food, shelter, and enrichment activities for the pets in our care. No amount is too small, and every contribution makes a difference in providing a second chance for these deserving animals.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-4 is-size-5-mobile">5. Adopt a Pet -</b>
            The ultimate act of becoming a Pet Ally is adopting a dog or cat from our adoption portal. By giving a homeless pet a loving home, you provide them with the chance to thrive and experience a lifetime of love and companionship. Browse our available pets and find the perfect match to join your family.
        </p>
        <br>
        <p class="is-size-4 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Together, We Can Make a Difference!</b>
            By becoming a Pet Ally, you actively contribute to our mission of finding loving homes for all our pets and ensuring their well-being. Your support, whether through spreading awareness, volunteering, fostering, donating, or adopting, plays a vital role in transforming lives.
            Join us today and become a Pet Ally! Together, we can create a brighter future for the animals we cherish.

        </p>
    </section>
</div>