    <section class="section ">
            <p class=" is-size-1 is-size-6-mobile has-text-centered">
                <b>Congratulations in your FUR-ever family!</b>
            </p>

            <p class=" is-size-3 is-size-6-mobile has-text-centered">
                <b>You've adopted a new pet</b>
            </p>
    </section>
