<h2>Login</h2>

<p>Please login to access your dashboard</p>

<form>

    <div>

        <label>email:</label>
        <input type="text"/>

    </div>

    <div>

        <label>password:</label>
        <input type="password"/>

    </div>

    <div>

        <button type="submit">login</button>

    </div>

</form>

<!-- Pending to link to the js file -->