<div class="mb-4 project" id="blogbox">

  <div>

    <img src="/public/assets/login.png" alt="Login">

  </div>
        
  <section class="section">

    <p class="is-size-4 is-size-6-mobile has-text-justified">Please login to access your dashboard</p>

    <form class="box formbgc">
        
      <div class="columns">
          
        <!-- Email Field -->
        <div class="field column">
          
          <label for="email-login" class="label">Email</label>
          
          <div class="control">

            <input class="input" type="email" placeholder="e.g. alex@example.com">

          </div>
          
        </div>

        <!-- Password Field -->
        <div class="field column">
          
          <label for="password-login" class="label">Password</label>
          
          <div class="control">

            <input class="input" type="password" placeholder="********">

          </div>
          
        </div>
          
        </div>
        
        <!-- Login Button -->
        <div class="field has-text-centered">

          <button class="button loginbtn has-text-white">Login</button>

        </div>
        
    </form>
        
  </section>
        
</div>

<script src="/public/js/login.js"></script>