<div class=" mb-4 project" id="blogbox">

            <div>

                <img src="/public/assets/login.png" alt="Login">
            
            </div>
            
            <section class="section">

                <p class="is-size-4 is-size-6-mobile has-text-justified" >

                    Please login to access your dashboard

                </p>
                
                <form class="box formbgc">

                    <div class="field">

                      <label for="email-login" class="label">Email</label>

                      <div class="control">

                        <input class="input" type="email" placeholder="e.g. alex@example.com">

                      </div>

                    </div>
                  
                    <div class="field">

                      <label for="password-login" class="label">Password</label>

                      <div class="control">

                        <input class="input" type="password" placeholder="********">

                      </div>

                    </div>
                  
                    <button class="button loginbtn has-text-white">Login</button>

                </form>
            
            </section>

</div>

<script src="/public/js/login.js"></script>