<div class="mb-4 project" id="blogbox">
  <div>
      <img src="assets/login.png" alt="Login">
  </div>
  <section class="section">
      <div class="container card formbgc p-6">
          <form class="login-form">
              <div class="columns is-multiline">
                  <!-- Email Field -->
                  <div class="column is-half">
                      <div class="field has-text-centered">
                          <label class="label" for="email-login">Email</label>
                          <div class="control">
                              <div>
                                  <input class="input" type="text" id="email-login" />
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Password Field -->
                  <div class="column is-half">
                      <div class="field has-text-centered">
                          <label class="label" for="password-login">Password</label>
                          <div class="control">
                              <div>
                                  <input class="input" type="password" id="password-login" />
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Submit Button -->
                  <div class="column is-full">
                      <div class="field is-grouped is-justify-content-center">
                          <div class="control">
                              <button class="button custom-box-sl" type="submit">
                                  Submit
                              </button>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
      </div>
  </section>
</div>
<script src="./js/login.js"></script>