<div class=" mb-4 project" id="blogbox">
            <div>
                <img src="assets/pet_literature.png" alt="pet literature">
            </div>
            <section class="section ">
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">Looking</b> for informative and helpful literature to enhance your knowledge and improve the care of your beloved cats and dogs? We have compiled a list of recommended books that cover various aspects of pet care, training, behavior, and health. Explore the links below to learn more about each book:
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"The Complete Guide to Dog Care: Everything You Need to Know to Keep Your Dog Healthy and Happy" by Amy Shojai - </b>
                    A comprehensive guide that covers everything from nutrition and grooming to training and common health issues, providing essential information for dog owners.
                    <a href="https://www.amazon.com/Ultimate-Guide-Dog-Care-Everything/dp/1621871509">More info</a>
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"Think Like a Cat: How to Raise a Well-Adjusted Cat--Not a Sour Puss" by Pam Johnson-Bennett -  </b>
                    A cat behavior expert shares insights on understanding feline behavior, solving common behavior problems, and creating a harmonious relationship with your cat.
                    <a href="https://www.amazon.com/Think-Like-Cat-Well-Adjusted-Cat-Not/dp/0143119796/">More info</a>
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"Catify to Satisfy: Simple Solutions for Creating a Cat-Friendly Home" by Jackson Galaxy and Kate Benjamin -  </b>
                    Discover practical tips and creative ideas to make your home a stimulating and enriching environment for your feline companions, enhancing their well-being and happiness.
                    <a href="https://www.amazon.com/Catify-Satisfy-Solutions-Creating-Cat-Friendly/dp/0399176993/">More info</a>
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"The Other End of the Leash: Why We Do What We Do Around Dogs" by Patricia B. McConnell - </b>
                    This book explores the science behind human-dog interactions, offering insights into understanding canine behavior, improving communication, and building a stronger bond with your dog. 
                    <a href="https://www.amazon.com/Other-End-Leash-What-Around/dp/034544678X/">More info</a>
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"Caring for Your Dog: The Complete Canine Home Reference" by Bruce Fogle -</b>
                    A comprehensive reference guide that covers all aspects of dog care, including nutrition, health, training, and behavior, providing invaluable advice for dog owners. 
                    <a href="https://www.amazon.com/Caring-Your-Dog-Complete-Reference/dp/0789489295/">More info</a>
                </p>
                <br>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"Cat Owner's Home Veterinary Handbook" by Debra M. Eldredge, DVM, et al. -  </b>
                    An essential resource for cat owners, covering common health issues, preventive care, emergency situations, and home treatments, empowering you to be an informed and proactive caregiver.
                    <a href="https://www.amazon.com/Owners-Veterinary-Handbook-Revised-Updated/dp/163026296X/">More info</a>
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    <b class="is-size-3 is-size-5-mobile">"How to Behave So Your Dog Behaves" by Dr. Sophia Yin - </b>
                    This book offers a comprehensive guide to understanding and influencing your dog's behavior, using positive reinforcement techniques and clear communication to build a mutually respectful relationship. 
                    <a href="https://www.amazon.com/Behave-Behaves-Revised-Updated-Editon-ebook/dp/B004GUSDK4/">More info</a>
                </p>
                <br>
                <p class="is-size-4 is-size-6-mobile has-text-justified" >
                    These books provide valuable insights, practical advice, and expert guidance to help you provide the best possible care for your cats and dogs. Each book offers a wealth of knowledge that can enhance your understanding of your pets and contribute to their well-being.
                </p>
            </section>
        </div>