<div class="mb-4 project" id="blogbox">

  <div>

    <img src="/public/assets/sign_up.png" alt="Sign Up">

  </div>

  <section class="section">

    <p class="is-size-4 is-size-6-mobile has-text-justified">Welcome to our pet adoption site! Please complete the following form to create your account:</p>

    <form class="box formbgc">

      <div class="columns">

        <!-- Username Field -->
        <div class="field column">

          <label class="label">Username</label>

          <div class="control">

            <input class="input" type="text" placeholder="e.g. coolusername">

          </div>

        </div>

        <!-- Email Field -->
        <div class="field column">

          <label class="label">Email</label>

          <div class="control">

            <input class="input" type="email" placeholder="e.g. alex@example.com">

          </div>

        </div>

        <!-- Password Field -->
        <div class="field column">

          <label class="label">Password</label>

          <div class="control">

            <input class="input" type="password" placeholder="********">

          </div>

        </div>

      </div>

      <!-- Submit Button -->
      <div class="field has-text-centered">

        <button class="button loginbtn has-text-white">Submit</button>

      </div>

    </form>

  </section>

</div>

<!-- Pending to sync js file -->