<div class="mb-4 project" id="blogbox">
  <div>
    <img src="/assets/sign_up.png" alt="Sign Up">
  </div>
  <section class="section">
    <div class="container card formbgc p-6">
      <form class="signup-form">
        <div class="columns is-multiline">
          <!-- Username Field -->
          <div class="column is-one-third">
            <div class="field has-text-centered">
              <label class="label" for="username-signup">Username</label>
              <div class="control">
                <input id="username-signup" class="input" type="text" placeholder="e.g. coolusername">
              </div>
            </div>
          </div>
          <!-- Email Field -->
          <div class="column is-one-third">
            <div class="field has-text-centered">
              <label class="label" for="email-signup">Email</label>
              <div class="control">
                <input id="email-signup" class="input" type="email" placeholder="e.g. alex@example.com">
              </div>
            </div>
          </div>
          <!-- Password Field -->
          <div class="column is-one-third">
            <div class="field has-text-centered">
              <label class="label" for="password-signup">Password</label>
              <div class="control">
                <input id="password-signup" class="input" type="password" placeholder="********">
              </div>
            </div>
          </div>
          <!-- Submit Button -->
          <div class="column is-full">
            <div class="field is-grouped is-justify-content-center">
              <div class="control">
                <button class="button custom-box-sl" type="submit">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
<script src="./js/signup.js"></script>