<h2> Sign Up</h2>

<p>Welcome to our pet adoption site! Please complete the following form to create your account:</p>

<form>

    <div>

        <label>username:</label>
        <input type="text">

    </div>

    <div>

        <label>email address:</label>
        <input type="text">

    </div>

    <div>

        <label>password:</label>
        <input type="password">

    </div>

    <div>

        <label>confirm password:</label>
        <input type="password">

    </div>

    <div>

        <button type="submit">signup</button>

    </div>

</form>

<!-- Pending to sync js file -->