<div class=" mb-4 project" id="blogbox">
    <div>
        <img src="assets/thankyou.png" alt="pet ally">
    </div>
    <section class="section ">
        <p class="is-size-3 is-size-6-mobile has-text-justified" >
            <b class="is-size-3 is-size-5-mobile">Thank you for submitting your pet for adoption!</b> We truly appreciate your decision to give a loving home to an animal in need. Your submission has been received, and our dedicated team is now reviewing the details you provided. We understand that this can be an emotional process, and we want to assure you that we will do our best to find a suitable and caring family for your beloved pet. Your act of kindness is making a significant difference in the lives of animals, and we are grateful for your generosity and compassion.
        </p>
        <br>
        <p class="is-size-3 is-size-6-mobile has-text-centered" >
            As we move forward with the adoption process, here's what you can expect as the next steps. Our team will carefully review the information you provided, including your pet's profile, any specific requirements, and your contact details. We may reach out to you for any additional information or to schedule a meeting to better understand your pet's needs and personality. Once we have gathered all the necessary information, we will begin the process of matching your pet with potential adopters who meet their specific requirements and can provide a loving and secure environment. We will keep you informed throughout the process and notify you as soon as we find a suitable match. Rest assured that we are committed to finding the best possible home for your pet, and we will support you every step of the way. Thank you again for choosing adoption and for entrusting us with the responsibility of finding a loving home for your pet.
        </p>
    </section>
</div>